.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid grey;
}
.header-position {
  display: flex;
  align-items: center;
}

.header-studio {
  color: #000000;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-left: 93px;
  column-gap: 50px;
}

.menu-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-link-current {
  color: $botton_bg_color;
  position: relative;
}

.menu-link-current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
  bottom: -32px;
}


.contacts {
  display: flex;
  margin-left: auto;
  column-gap: 50px;
  align-items: center;
}

.contacts-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover {
  color: #2196f3;
}

.contacts-link:hover .svg-icons1,
.contacts-link:hover .svg-icons2 {
  fill: #2196f3;
}

.logo {
  font-family: $second-family;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
} 
