.features {
  padding-bottom: 94px;
  padding-top: 94px;
  &__title {
    display: none;
  }
  .features-list {
    display: flex;
    column-gap: 30px;
    &__icon {
      width: 270px;
      height: 120px;
      background-color: #f5f4fa;
      margin-bottom: 30px;
      @extend %flexed;
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }
    &__name {
      font-weight: 700;
      text-transform: uppercase;
      color: #212121;
      margin-bottom: 10px;
    }
    &__text {
      line-height: 1.71;
      color: #757575;
    }
  }
}
